// Required bootstarp
@import "../node_modules/bootstrap/scss/bootstrap";

//main css
html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    z-index: 20;
    padding: 1em;
    position: absolute;
    width: calc(100% - 2em);
    background: none;

    a{
       text-decoration: none;
       color: black;
    }

    a.logo{
        font-weight: bold;
        text-transform: uppercase;
    }

    nav ul{
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 0;
        padding: 0;

        li a{
            padding: 1em;
            color: white;
        }
    }
}

.home-page{
    margin: 0;
    padding: 0;
    height: 100vh;
    scroll-snap-align: center;

    section{
        padding: 3em;
        display: grid;
        grid-template-rows: auto;
        align-items: center;

        h1,h2, .see-btn{
            text-transform: uppercase;
            margin: 0;
        }

        h2{
            font-size: 1.4rem;
        }

        .see-btn{
            text-decoration: none;
            color: black;
            background: url("../image/arrow-black.svg") no-repeat;
            background-size:20px;
            padding: 1.5em 1.5em 1.5em calc(3em + 25px);
            background-position: 3em;
            border: 2px solid black;
            display: inline-block;
            margin-top: 3em;
            margin-left: -3.5em;
        }
    }

    .color-box{
        background: #E4C2B1;
        margin: 0;

        h1{
            width: 70%;
            font-size: 2.4rem;
        }

        p{
            font-size: 1.2rem;
            padding-top: 1em;
        }
    }

    .image-box{
        background: lightblue;
        height: 100%;
        padding: 0;

        .carousel{

            img{
                height: 43em;
                width: 100%;
            }

            h5{
                font-weight: bold;
            }
        }
    }
}

.story-page{
    height: 100vh;
    background: url("../image/background-story.jpg") no-repeat;
    background-size: cover;
    overflow: hidden;

    .image-container1{
        
        img{
            width: 25%;
            position: absolute;
        }

        .card1{
            z-index: 100;
        }

        .card2{
           z-index: 95; 
        }

        .card3{
            z-index: 85;
        }
    }

    .image-container2{
        
        img{
            width: 40%;
            position: absolute;
        }

        .card4{
            z-index: 75;
        }

        .card5{
            z-index: 65;
        }

        .card6{
            z-index: 55;
        }
    }
}

